.App {
  text-align: center;
  padding: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th, button {
  background-color: #33b92c;
  color: white;
}
button{
  border: none;
  border-radius: 5px;
}
button:disabled{
  opacity: 0.6;
}
button {
  margin: 10px;
  padding: 10px;
}
